$margen-contenedor: 1em
$radio-borde: 1em
$vidrio-color: rgba(0, 0, 25, 0.5)
$vidrio-blur: 1em
$vidrio-saturacion: 180%
$vidrio-borde-color: rgba(255,255,255,0.75)
$vidrio-sombra-color: rgba(0,0,0,0.5)

$barra_altura: 50px
$barra_menu_letra: 40px

$contenido-margen: 15px
$contenido-radio-borde: 0 0 $contenido-margen $contenido-margen
    
$letras_empresa: 1.2em
$letras_titulo: 1.5em
$letras_cuerpo: 1em

$margen_inferior_a: 1.25em
$margen_inferior_b: 1.5em
$margen_inferior_c: 2em
$margen_inferior_d: 2.5em
$margen_inferior_e: 3em

*
    box-sizing: 0

html body
    margin: 0
    padding: 0
    font-size: 14pt

[data-title]
    &:hover
        &:after 
            opacity: 1
            transition: all 0.1s ease 0.5s
            visibility: visible

[data-title]
    &:after 
        content: attr(data-title)
        background-color: #0b097e88
        color: #fff
        font-size: 14px
        // font-family: Raleway
        position: absolute
        padding: 2px 20px
        bottom: -1.9em
        top: 110%
        left: -100%
        white-space: nowrap
        box-shadow: 1px 1px 3px #f7f7f752
        opacity: 0
        // border: 1px solid #111111
        z-index: 99999
        visibility: hidden
        border-radius: 6px
    
[data-title]
    position: relative

.dist_horizontal_expand
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.dist_vertical_expand
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

// button
//     margin: 5px 10px

.btn-13 
    background-color: #89d8d3
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%)
    border: none
    z-index: 1
    // font-size: 12px

    &:after 
        position: absolute
        content: ""
        width: 100%
        height: 0
        bottom: 0
        left: 0
        z-index: -1
        border-radius: 3px
        background-color: #b6fffb28
        background-image: linear-gradient(315deg, #aaf7f328 0%, #2a333228 74%)
        box-shadow: -2px -2px 7px 0px #ffffff69, -1px -1px 3px 0px #3a474b93, 7px 7px 10px 0px #0002, 4px 4px 5px 0px #0001
        transition: all 0.3s ease

    &:hover 
        color: #fff
        font-weight: bold

    &:hover:after 
        top: 0
        height: 100%

    &:active 
        top: 2px

.custom-btn 
    display: inline-flex
    min-width: 100px
    height: 32px
    color: #fff
    // background-color: #4dccc677
    border-radius: 5px
    padding: 5px 5px
    margin: 5px 10px
    font-family: 'Lato', sans-serif
    font-weight: 500
    font-size: 12px
    background: transparent
    cursor: pointer
    transition: all 0.3s ease
    position: relative
    display: inline-block
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 210px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1)
    outline: none

.accordion-button
    padding: 7px 7px

.accordion-body
    padding: 10px 5px

.accordion-collapse
    color: black

.dataTables_length
    display: none

.contenedor
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-image: url('../imagenes/fondos/fondo08.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    .app
        position: absolute
        top: $margen-contenedor
        right: $margen-contenedor
        bottom: $margen-contenedor
        left: $margen-contenedor
        color: white
        gap: 20px
        border-radius: $radio-borde
        backdrop-filter: blur($vidrio-blur) saturate($vidrio-saturacion)
        background-color: $vidrio-color
        box-shadow: $vidrio-sombra-color 2px 8px 8px
        border: 1px $vidrio-borde-color solid
        border-bottom: 1px rgba(40,40,40,0.35) solid
        border-right: 1px rgba(40,40,40,0.35) solid

        &_horizontal
            &_barra
                position: absolute
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                top: 0
                left: 0
                width: 100%
                height: $barra_altura
                background-color: $vidrio-color
                border-radius: $radio-borde $radio-borde 0 0
                @extend .dist_horizontal_expand
                &_logo
                    position: relative
                    display: inline-flex
                    height: 100%
                    padding: 0 75px
                    text-align: center
                    @extend .dist_horizontal_expand
                    // background-color: green
                    div
                        &:first-child
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
                            font-weight: bolder
                            font-size: $barra_menu_letra
                            letter-spacing: -2px
                            margin-right: -3px 
                            color: #164c5c
                            filter: drop-shadow( 0 0 2px cyan ) drop-shadow( 0 0 10px white )
                        &:last-child
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
                            font-weight: bold
                            font-size: $barra_menu_letra + 12px
                            font-variant: small-caps
                            letter-spacing: -5px
                            color: #591966
                            filter: drop-shadow( 0 0 2px cyan ) drop-shadow( 0 0 10px white )
                        
                &_menu
                    @extend .dist_horizontal_expand
                    // width: content
                    display: inline-flex
                    padding: 0 10px 0 0
                    ul
                        display: inline-flex
                        align-items: center
                        margin: 0
                        padding: 0
                        li
                            font-size: 14px
                            list-style-type: none
                            padding: 0
                            margin: 7px

            &_contenido
                position: absolute
                top: $barra-altura + $contenido-margen
                right: $contenido-margen
                bottom: $contenido-margen
                left: $contenido-margen
                padding: $contenido-margen
                background-color: $vidrio-color
                border-radius: $contenido-radio-borde
        
        &_contenido
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            &_formulario
                display: relative
                font-size: 13px
                width: 100%
                height: 100%
                background-color: #b5cfff3f
                overflow-x: hidden
                overflow-y: auto
                // background-color: #005588
            &_tabla
                display: relative
                font-size: 11px
                font-weight: 600
                color: black
                width: 100%
                height: 30%
                // margin-bottom: 1em !important
                border-top: 1px solid #e6e6e6da
                border-radius: 0 0 .5em .5em
                background-color: #b5cfff3f
                overflow-x: hidden
                overflow-y: auto
                // background-color: #6b8697
                .title
                    // text-align: center
                    font-size: 2em
                    color: white

        &_vertical
            &_barra
                &_logo
                &_menu
                    &_item
            &_contenido

.margen
    &_a
        margin-bottom: $margen_inferior_a
    &_b
        margin-bottom: $margen_inferior_b
    &_c
        margin-bottom: $margen_inferior_c
    &_d
        margin-bottom: $margen_inferior_d
    &_e
        margin-bottom: $margen_inferior_e

.enunciado
    display: inline-flex
    width: 250px !important
    text-align: left
    
.titulo
    &_a
        text-align: left
    &_b
        width: 50%
    &_c
        width: 50%
        text-align: end

.valores
    display: -webkit-inline-box
    width: 300px !important
    // text-align: left

.divisor
    &_h
        width: 100%
        height: 1px
        margin: 0 !important
        padding: 0 !important
                
.resaltar
    color: red
    font-weight: bolder

.mayusculas
    text-transform: uppercase !important

.capitalizar
    text-transform: capitalize !important

.truncar
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.column-reverse
    display: flex
    flex-direction: column-reverse

.divLinea
    border-bottom: solid 1px black
    height: 24px
    text-indent: 10px
    align-items: end

.fijarCancelar
    position: absolute
    bottom: 0
    left: 0

.pagina
    position: relative
    max-width: 21cm 
    width: 21cm 
    max-height: 29.7cm
    height: 29.7cm
    margin: 0 auto
    border: 1px solid lightgrey
    font-family: 'Roboto', sans-serif
    font-size: 14px

    .certificado7262
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 2cm

    .cer6272
        &_empresa
            font-size: $letras_empresa
            font-weight: bold
            color: red
            margin: 0 0 4em 0

        &_titulo
            font-size: $letras_titulo
            font-weight: bolder
            text-transform: uppercase
            text-decoration: underline
            text-align: center
            margin: 0 0 1em 0

        &_enunciado
            font-size: $letras_cuerpo
            font-weight: bolder
            text-transform: uppercase
            text-decoration: underline
            margin: 100px 100px -10px 100px

        &_cuerpo
            text-align: justify
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 30px

        &_fecha
            text-align: justify
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 20px
            color: red 

    .certificado7375
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 1cm

    .cer7375
        &_empresa
            font-size: $letras_empresa
            font-weight: bold
            margin: 0 0 12em 0
            text-align: end

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 3em 0

        &_cuerpo
            text-align: justify
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 40px

        &_fecha
            text-align: justify
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 5em
            color: red 
            text-align: end

    .certificado7683
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 1cm

    .cer7683
        &_empresa
            font-size: $letras_empresa
            font-weight: bold
            margin: 0 0 7em 0
            text-align: center

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 3em 100px

        &_cuerpo
            text-align: justify
            text-transform: uppercase
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 40px

        &_fecha
            text-align: justify
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 5em
            color: red 
            text-align: center

    .certificado8494
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 1cm

    .cer8494
        &_empresa
            font-size: 14px
            font-weight: bold
            margin: 0 0 3em 100px

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 3em 0

        &_cuerpo
            text-align: justify
            text-transform: uppercase
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 40px

        &_fecha
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px 3em 0 !important
            padding-top: 5em
            color: red 
            text-align: end

    .certificado9500
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 0

    .cer9500
        &_empresa
            font-size: $letras_empresa
            font-weight: bold
            margin: 0 0 7em 100px

        &_titulo
            font-size: $letras_empresa
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 5em 0

        &_cuerpo
            text-align: justify
            text-transform: uppercase
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px !important
            padding-top: 40px

        &_fecha
            line-height: 2em
            font-size: $letras_cuerpo
            margin: 0 100px 3em 0 !important
            padding-top: 4em
            color: red 
            text-align: end

.pagina_liq
    position: relative
    max-width: 21cm 
    width: 21cm 
    max-height: 29.7cm
    height: 29.7cm
    margin: 0 auto
    border: 1px solid lightgrey
    font-family: 'Roboto', sans-serif
    font-size: 14px

    .liquidacion6272
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 2cm
    
    .liq6272
        &_empresa
            font-size: $letras_empresa
            font-weight: bolder
            color: red
            margin: 0 0 1em 0

        &_titulo
            font-size: $letras_titulo
            font-weight: bolder
            text-transform: uppercase
            text-decoration: underline
            text-align: center
            margin: 0 0 1em 0

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin: 0 0 .3em 0
            
            >div:nth-child(1)
                width: 12em
            
            >div:nth-child(2)
                font-weight: bolder

        &_tcalculo
            margin: 1em 0 0 0
            // margin-top: 1.5em
            // margin-bottom: .5em

        &_calculo
            display: flex
            flex-direction: row
            margin: 0 0 0 3em

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 1em 0 0 0
            text-align: justify

        &_fecha
            margin: 1em 0 0 0
            color: red

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firma
            margin: 5em auto 0 auto
            padding-top: 1em
            width: 40%
            text-align: center
            border-top: dotted 2px black
            color: red
            // background-color: rgba(0,0,255,.1)

    .liquidacion7375
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 2cm
    
    .liq7375
        &_empresa
            font-size: $letras_empresa
            font-weight: bolder
            text-align: end
            margin: 0 0 2em 0

        &_titulo
            font-size: 18px
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 2em 0

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin: 0 0 1em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 12em
            
            >div:nth-child(2)
                font-weight: bolder

        &_tcalculo
            margin: 1.5em 0 1em 0
            text-decoration: underline
            // margin-top: 1.5em
            // margin-bottom: .5em

        &_calculo
            display: flex
            flex-direction: row
            margin: 0 0 1em 0

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 3em 0 0 0
            text-align: justify
            text-indent: 12em

        &_fecha
            margin: 1em 0 0 0
            color: red
            text-align: end
            padding-top: 1em

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firmas
            display: flex
            flex-direction: row
            padding-top: 7em
            font-size: 12px
            &_bloques
                width: 50%
                margin: 0 auto
                &_titulo
                    padding-top: 15px
                    text-align: center
                    text-transform: capitalize
                    width: 70%
                    margin: 0 auto
                    border-top: dotted 2px black

    .liquidacion7683
        font-size: $letras_empresa
        font-weight: bolder
        margin: 3cm 2cm
    
    .liq7683
        &_empresa
            font-size: $letras_empresa
            font-weight: bolder
            text-align: center
            margin: 0 0 4em 0

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 1em 0

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin: 0 0 .5em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 12em
            
            >div:nth-child(2)
                font-weight: bolder

        &_calculo
            display: flex
            flex-direction: row
            margin: 0 0 .5em 0

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 1em 0 0 0
            text-align: justify

        &_fecha
            margin: 1em 0 0 0
            color: red
            text-align: center
            padding-top: 2em

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firmas
            display: flex
            flex-direction: row
            padding-top: 7em
            &_bloques
                width: 50%
                margin: 0 auto
                &_titulo
                    text-align: center
                    width: 50%
                    margin: 0 auto
                    border-top: dotted 2px black

    .liquidacion8494
        font-size: $letras_cuerpo
        font-weight: bolder
        margin: 3cm 2cm
    
    .liq8494
        &_empresa
            font-size: $letras_empresa
            font-weight: bolder
            margin: 0 0 3em 0

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 100px 1em 100px

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin: 0 0 1em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 18em
            
            >div:nth-child(2)
                font-weight: bolder

        &_calculo
            display: flex
            flex-direction: row
            margin: 0 0 1em 0
            
        &_calculo_c8494
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            text-align: center
            >div:nth-child(1)
                width: 15%
            >div:nth-child(2)
                width: 15%
            >div:nth-child(3)
                width: 15%
            >div:nth-child(4)
                width: 25%
                text-align: right
            >div:nth-child(5)
                width: 30%
                text-align: right !important
            
        &_calculo_descuento
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin-bottom: 3em
            >div:nth-child(1)
                text-align: start
                width: 100%
            >div:nth-child(2)
                width: 30%
                text-align: end
            >div:nth-child(3)
                width: 78%
                text-align: end

        &_calculo_total
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            >div:nth-child(1)
                width: 100%
            >div:nth-child(2)
                width: min-content
                margin-left: 3px
                text-align: end

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 1em 0 0 0
            text-align: justify

        &_fecha
            margin: 0 0 2em 0 
            color: red
            text-align: end
            // padding-top: 2e'm

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firmas
            display: flex
            flex-direction: row
            padding-top: 7em
            &_bloques
                width: 50%
                margin: 0 auto
                &_titulo
                    text-align: center
                    width: 50%
                    margin: 0 auto
                    border-top: dotted 2px black
                    padding-top: 15px

    .liquidacion9500
        font-size: $letras_cuerpo
        font-weight: bolder
        margin: 3cm 2cm
    
    .liq9500
        &_empresa
            font-size: $letras_empresa
            font-weight: bolder
            margin: 0 0 3em 0
            color: red

        &_titulo
            font-size: $letras_cuerpo
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 100px 1em 100px

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin: 0 0 1em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 23em
            
            >div:nth-child(2)
                font-weight: bolder

        &_calculo
            display: flex
            flex-direction: row
            margin: 0 0 1em 0
            
        &_calculo_c8494
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            text-align: center
            >div:nth-child(1)
                width: 15%
            >div:nth-child(2)
                width: 15%
            >div:nth-child(3)
                width: 15%
            >div:nth-child(4)
                width: 20%
            >div:nth-child(5)
                width: 20%
            
        &_calculo_descuento
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            margin-bottom: 3em
            >div:nth-child(1)
                text-align: start
                width: 100%
            >div:nth-child(2)
                width: 30%
                text-align: end
            >div:nth-child(3)
                width: 78%
                text-align: end

        &_calculo_total
            position: relative
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            >div:nth-child(1)
                width: 100%
            >div:nth-child(2)
                width: min-content
                margin-left: 3px
                text-align: end

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 4em 0 0 0
            text-align: justify

        &_fecha
            margin: 4em 0 2em 0 
            color: red
            text-align: end
            // padding-top: 2e'm

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firma
            margin: 10em auto 0 auto
            padding-top: 1em
            width: 40%
            text-align: center
            border-top: dotted 2px black
            color: red

.pagina_bol
    position: relative
    max-width: 21cm 
    width: 21cm 
    max-height: 29.7cm
    height: 29.7cm
    margin: 0 auto
    border: 1px solid lightgrey
    font-family: 'Roboto', sans-serif
    font-size: 14px
    
    .boleta
        font-size: $letras_cuerpo
        font-weight: bolder
        margin: 3cm 2cm
    
    .boleta
        &_empresa
            position: relative
            font-size: $letras_empresa
            font-weight: bolder
            margin: 0 0 1em 0
            height: 24px

            >div:nth-child(1)
                font-size: $letras_cuerpo
                position: absolute
                top: 0
                left: 0
                width: max-content
                float: left

            >div:nth-child(2)
                width: 100%
                float: left
                text-align: center

        &_titulo
            position: relative
            font-size: $letras_titulo
            font-weight: bolder
            text-align: center
            text-transform: uppercase
            text-decoration: underline
            margin: 0 0 1em 0

        &_desglose
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            // margin: 0 0 1em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 12em
            
            >div:nth-child(2)
                font-weight: bolder

        &_calculo
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            // margin: 0 0 1em 0
            text-transform: uppercase
            
            >div:nth-child(1)
                width: 12em
                // background-color: #0000ff33
            
            >div:nth-child(2)
                width: 20em !important
                font-weight: bolder
                text-align: center
                margin-right: 1em
                // background-color: #00ff0033
            
            >div:last-child
                width: 15em !important
                font-weight: bolder
                text-align: end
                // background-color: #33ff5533

        &_numerosletras
            // margin: 0 0 1em 0
            margin: 1.5em 0 0 0
            text-transform: capitalize

        &_declaracion
            margin: 4em 0 0 0
            text-align: justify

        &_fecha
            margin: 0 0 1em 0 
            text-align: end

        &_recibiconforme
            margin: 3em 2em 0 0
            text-transform: uppercase
            text-align: end

        &_firmas
            display: flex
            flex-direction: row
            padding-top: 12em
            font-size: 1em
            &_bloques
                width: 50%
                margin: 0 auto
                &_titulo
                    padding-top: 15px
                    text-align: center
                    text-transform: capitalize
                    width: 70%
                    margin: 0 auto
                    border-top: dotted 2px black

    .boleta7880
        font-size: $letras_cuerpo
        font-weight: bolder
        margin: 3cm 2cm
        font-size: 12px

        .marco
            &_linea1
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 0 0 .5em 0
                >div
                    &:first-child
                        width: 20%
                    &:nth-child(2)
                        width: 80%
                        border-bottom: 1px solid black
                        // background-color: cyan
            &_linea2
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 0 0 .5em 0
                >div
                    &:first-child
                        width: 20%
                    &:nth-child(2)
                        width: 30%
                        border-bottom: 1px solid black
                        // background-color: cyan
                    &:nth-child(3)
                        width: 17%
                        text-align: end
                    &:last-child
                        width: 33%
                        border-bottom: 1px solid black
                        // background-color: cyan
            &_linea3
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 0 0 .5em 0
                >div
                    &:first-child
                        width: 20%
                    &:nth-child(2)
                        width: 80%
                        // border-bottom: 1px solid black
                        // background-color: cyan
            &_linea4
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 0 0 .5em 0
                >div
                    &:first-child
                        width: 25%
                    &:nth-child(2)
                        width: 75%
                        // border-bottom: 1px solid black
                        // background-color: cyan
            
            &_linea5
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 0 0 .5em 0
                >div
                    &:first-child
                        padding-left: 5px
                        width: 20%
                    &:nth-child(2)
                        width: 30%
                        // border-bottom: 1px solid black
                        // background-color: cyan
                    &:nth-child(3)
                        width: 17%
                    &:last-child
                        width: 33%
                        // border-bottom: 1px solid black
                        // background-color: cyan
            
            &_linea6
                display: flex
                flex-direction: row
                text-transform: capitalize
                margin: 2em 0 0 0
                font-size: 14px
                font-weight: bolder
                >div
                    &:first-child
                        padding: 3px 0
                        width: 80%
                        text-align: center
                        border-right: dashed 2px black
                        border-top: solid 1px black
                        border-bottom: dashed 1px black
                    &:last-child
                        width: 20%
                        border-top: dashed 1px black
                        border-bottom: solid 1px black
            
            &_linea7
                display: flex
                flex-direction: row
                text-transform: capitalize
                font-size: 14px
                >div
                    &:first-child
                        padding: 3px 0 3px 5px
                        border-right: dashed 2px black
                        width: calc( 80% - 5px )
                    &:last-child
                        width: 20%
            
            &_linea8
                display: flex
                flex-direction: row
                text-transform: capitalize
                font-size: 14px
                font-weight: bolder
                >div
                    &:first-child
                        padding: 3px 0 1.5em 0
                        width: 80%
                        text-align: end
                        border-right: dashed 2px black
                        border-top: dashed 1px black
                        border-bottom: solid 1px black
                    &:last-child
                        width: 20%
                        border-top: solid 1px black
                        border-bottom: solid 1px black
            
            &_linea9
                display: flex
                flex-direction: row
                text-transform: capitalize
                font-size: 14px
                font-weight: bolder
                >div
                    &:first-child
                        padding: 3px
                        width: calc( 30% - 6px )
                        border-right: dashed 2px black
                    &:nth-child(2)
                        width: 20%
                    &:nth-child(3)
                        padding: 3px
                        width: calc( 30% - 9px )
                        border-right: dashed 2px black
                        border-left: dashed 2px black
                    &:last-child
                        width: 20%
            
            &_linea10
                display: flex
                flex-direction: row
                text-transform: capitalize
                font-size: 14px
                font-weight: bolder
                border-top: solid 1px black
                border-bottom: solid 1px black

                >div
                    &:first-child
                        padding: 3px 3px 1.5em 3px
                        width: calc( 30% - 6px )
                        // text-align: end
                        border-right: dashed 2px black
                    &:nth-child(2)
                        width: 20%
                    &:nth-child(3)
                        padding: 3px
                        width: calc( 30% - 9px )
                        border-right: dashed 2px black
                        // text-align: end
                        border-left: dashed 2px black
                    &:last-child
                        width: 20%
            
            $altoTitulo: 25px
            &_cuadro
                width: 100%
                border: solid 1px black
                font-size: 11px
                &_linea1
                    height: $altoTitulo
                    text-transform: uppercase
                    text-align: center
                    display: flex
                    flex-direction: row
                    align-items: center
                    border-bottom: solid 1px black
                    >div
                        &:first-child
                            width: 50%
                            height: $altoTitulo
                            border-right: solid 1px black
                        &:last-child
                            width: 50%
                &_linea2
                    height: $altoTitulo
                    text-transform: capitalize
                    text-align: center
                    display: flex
                    flex-direction: row
                    align-items: center
                    
                    &_secciona
                        width: calc( 50% - 5px )
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: center
                        padding-left: 5px
                        height: $altoTitulo
                        border-right: solid 1px grey
                        >div
                            &:first-child
                                text-align: start
                                width: 70%
                                    
                    &_seccionb
                        width: 50%
                        display: flex
                        flex-direction: row
                        >div
                            &:first-child
                                width: 40% !important
                                padding-left: 5px
                            &:nth-child(2)
                                width: 20% !important
                            &:nth-child(3)
                                width: 20% !important
                            &:last-child
                                width: 20% !important
                        
                &_linea3
                    height: $altoTitulo
                    text-transform: uppercase
                    text-align: center
                    display: flex
                    flex-direction: row
                    align-items: center
                    border-top: solid 1px black
                    >div
                        &:first-child
                            width: 50%
                            height: $altoTitulo
                            border-right: solid 1px black
                            display: flex
                            flex-direction: row
                            align-items: center
                            justify-content: space-between
                            padding-left: 5px 
                            >div
                                &:first-child
                                    text-align: start
                                    width: 65%
                        &:last-child
                            width: 50%
                            display: flex
                            flex-direction: row
                            align-items: center
                            justify-content: space-between
                            padding-left: 5px 
                            >div
                                &:first-child
                                    text-align: start
                                    width: 65%

            &_cuadro2
                width: 100%
                font-size: 11px
                &_linea1
                    height: 2px
                    align-items: center
                    border-top: dashed 1px black
                    border-bottom: dashed 1px black
                    margin-bottom: 5px
                &_linea2
                    height: $altoTitulo
                    text-transform: uppercase
                    text-align: center
                    display: flex
                    flex-direction: row
                    align-items: center
                    margin-top: -5px
                    >div
                        &:first-child
                            width: 20%
                            border-right: solid 1px black
                            // background-color: lightcyan
                        &:nth-child(2)
                            width: 20%
                            border-right: solid 1px black
                            // background-color: lightgrey
                        &:nth-child(3)
                            width: 20%
                            border-right: solid 1px black
                            // background-color: lightblue
                        &:nth-child(4)
                            width: 20%
                            border-right: solid 1px black
                            // background-color: lightgreen
                        &:last-child
                            width: 20%
                            // background-color: lightpink
                &_linea3
                    display: flex
                    flex-direction: row
                    align-items: center
                    height: $altoTitulo
                    text-transform: uppercase
                    text-align: center
                    >div
                        &:first-child
                            width: calc( 20% - 5px )
                            height: $altoTitulo
                            border-right: solid 1px black
                            display: flex
                            align-items: center
                            margin-left: 5px
                            // background-color: lightblue
                        &:nth-child(2)
                            width: 20%
                            height: $altoTitulo
                            border-right: solid 1px black
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightgrey
                        &:nth-child(3)
                            width: calc( 20% - 5px )
                            height: $altoTitulo
                            border-right: solid 1px black
                            display: flex
                            align-items: center
                            margin-left: 5px
                            // background-color: lightcyan
                        &:nth-child(4)
                            width: 20%
                            height: $altoTitulo
                            border-right: solid 1px black
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightgreen
                        &:last-child
                            width: 20%
                            height: $altoTitulo
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightpink
                $altoseparador: 12px
                &_linea-separador
                    display: flex
                    flex-direction: row
                    align-items: center
                    height: $altoseparador
                    text-transform: uppercase
                    text-align: center
                    >div
                        &:first-child
                            width: calc( 20% - 5px )
                            height: $altoseparador
                            border-right: solid 1px black
                            display: flex
                            align-items: center
                            margin-left: 5px
                            // background-color: lightblue
                        &:nth-child(2)
                            width: 20%
                            height: $altoseparador
                            border-right: solid 1px black
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightgrey
                        &:nth-child(3)
                            width: calc( 20% - 5px )
                            height: $altoseparador
                            border-right: solid 1px black
                            display: flex
                            align-items: center
                            margin-left: 5px
                            // background-color: lightcyan
                        &:nth-child(4)
                            width: 20%
                            height: $altoseparador
                            border-right: solid 1px black
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightgreen
                        &:last-child
                            width: 20%
                            height: $altoseparador
                            display: flex
                            justify-content: center
                            align-items: center
                            // background-color: lightpink

            &_pie
                margin-top: 1em
                text-align: end
                text-transform: capitalize

            &_fecha
                margin-top: 1em
                text-align: center
                font-weight: bolder
                text-transform: capitalize
                margin: 5em 0 0 0

            &_firmas
                display: flex
                flex-direction: row
                padding-top: 12em
                font-size: 12px
                &_bloques
                    width: 50%
                    margin: 0 auto
                    &_titulo
                        padding-top: 15px
                        text-align: center
                        text-transform: capitalize
                        width: 70%
                        margin: 0 auto
                        border-top: solid 2px black

            &_firmasb
                display: flex
                flex-direction: row
                justify-content: start
                align-items: start
                padding-top: 7em
                font-size: 12px

                &_titulo
                    width: content
                
                >div
                    &:nth-child(2)
                        width: 35%
                        height: 14px
                        border-bottom: solid 1px black
                    &:nth-child(4)
                        width: 35%
                        height: 14px
                        border-bottom: solid 1px black
            
            &_firmasc
                display: flex
                flex-direction: row
                justify-content: space-between
                padding-top: 12em
                font-size: 12px
                font-weight: bolder
                &_bloques
                    width: 35%
                    // margin: 0 auto
                    &_titulo
                        padding-top: 15px
                        text-align: center
                        text-transform: capitalize
                        // width: 70%
                        // margin: 0 auto
                        border-top: dotted 2px black
            
            &_titulo
                font-size: $letras_empresa
                text-transform: uppercase
                text-align: center
                padding-bottom: 2.5em
                border-bottom: solid 1px black
                margin-bottom: 1em
            &_titulob
                font-size: $letras_empresa
                text-transform: uppercase
                text-align: center
                padding-bottom: 1.5em
                margin-bottom: 1em
            
            &_cubre
                border: dashed 1px black
                padding: 3em 0 0 0

.pagina_decl
    position: relative
    max-width: 21cm 
    width: 21cm 
    max-height: 29.7cm
    height: 29.7cm
    margin: 0 auto
    border: 1px solid lightgrey
    font-family: 'Roboto', sans-serif
    font-size: 13px
    .declaracion
        font-size: $letras_cuerpo
        font-weight: bolder
        margin: 2cm 1cm

        .tituloa
            text-align: center
            font-size: $letras_titulo
        .titulob
            text-align: center
        p
            text-align: justify
            line-height: 2.5em
        .decreto
            margin: 0 auto
            width: 70%
            display: flex
            flex-direction: row
            align-items: center

            div
                margin-right: 10px
                width: 70px
                height: 17px
                border: solid 1px black
                margin-bottom: 5px
        .cuadrados
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-top: 1em
            &_cuadro
                width: 46%

                div
                    padding-left: 10px
        .firmaa
            width: 40%
            border-top: solid 1px black
            float: right
            text-align: center
            margin-top: 5em
        .decl
            display: flex
            flex-direction: row
            justify-content: start
            align-items: end
            flex-wrap: wrap

            >div
                display: inline-flex !important
                width: content
            